.menu-container {
  text-align: center;
  padding: 20px;
}

.pizza-card {
  background: #fff3e0;
  margin: 20px auto;
  padding: 20px;
  width: 280px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  transition: transform 0.3s;
}

.pizza-card:hover {
  transform: scale(1.05);
}

.pizza-card img {
  width: 100%;
  border-radius: 10px;
}

button {
  background-color: #ff7043;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #ff5722;
}

.pizza-detalles {
  margin-top: 10px;
  background-color: #fff8e1;
  padding: 10px;
  border-radius: 10px;
}






